.poppins-thin_primary_font {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.inter-secondery_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal ;
  font-style: normal;
  
}

.roboto-third_font{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.cart{
    width: 20px;
    height: 20px;
}
.navbar{
    display: flex;
    flex-direction: row;
    gap: 34px;
    font-size: 16px;
    font-weight: 400;
   
}
.header{
    display: flex;
    flex-direction: row;
    margin: 50px 180px;
    justify-content: space-between;
    align-items: center;
}
.influencer{
    font-size: 24px;
    font-weight: bold;
    color: rgba(58, 58, 58, 1);
}
ul{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: rgba(58, 58, 58, 1);
}
.pre{
    width: 196px;
    height: 44px;
    background-color: rgba(224, 44, 109, 1);
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 41px;
    border: none;
    padding: 10px 24px;
}
.right_{
    color:white;
}
.start{
    width: 800px;
    height: 270px;
    font-weight: bold;
    font-size: 40px;
    color: rgba(58, 58, 58, 1);
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 140px;
}
.pera{
    font-weight: 400px;
    font-size: 16px;
    margin: 0px;
}
.journy{
    margin: 0px;
}
.cam{
    margin: 0px;
    width: 440px;
    height: 414px;
    margin-top: 89px;
    margin-bottom: 100px;
    
}
.camera{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.first-sec{
    display: flex;
    gap: 133px;
    justify-content: space-between;
    margin: 0px 180px;
}
.logo{
    margin: 0px;
}
.second_sec{
    width: 1110px;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    box-shadow:
        0 -5px 10px rgba(133, 132, 132, 0.1), /* top shadow */
        0 5px 10px rgba(133, 132, 132, 0.1);  /* bottom shadow */
}
.sec{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular{
    font-size: 28px;
    font-weight:600 ;
    margin-top: 100px;
}
.making{
    margin: 0px;
}
.third_sec{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content:center ;
    align-items:center ;
}
.items{
    width: auto;
    height: 476px;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content:center;
    padding: 15px;
    background: white;
  border-radius: 15px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
}
.suv{
    width: 300px;
    height: 256px;
}
.items_heading{
    margin: 0px;
    font-size: 28px;
    font-weight: 400;
}
.items_price{
margin: 0px;
font-size: 24px;
font-weight: normal;
}
.star{
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(94, 99, 102, 1);
}
.items_pera{
    margin: 0px;
    width: 198px;
    height: 61px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(120, 120, 133, 1);
}
.container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 30px;
}

@media  screen and (max-width:576px) {
    .header{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;
        text-align: center;
        margin-bottom:0px;
        margin-top: 50px;
        
    }
    .influencer{
       width: 400px;
    }
    .navbar{
        padding: 0px;
        justify-content: space-evenly;
        margin-bottom: 22px;
    }
    .first-sec{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0px;
        gap: 14px;
    }
    .start{
        
        margin-top: 0px;
        width: calc(100% - 21px);
        margin-bottom: 50px;
        justify-content:center ;
        align-items: center;
    }
    .margin_0{
        margin: 0px;
    }
    .journy{
        font-size: 32px;
    }
    .second_sec{
        flex-wrap: wrap;
        gap: 20px;
        box-shadow: none;
    }
    .inline{
        display: inline;
    }
    .container{
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
    }
}